*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



#bookingform2 {
  
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 140vh;
}

h1 {
  text-align: center;
  font-size: 25px;
  font-family: "Lobster", serif;
  font-weight: 400;
  letter-spacing: 2px;
  margin-bottom: 10px;
}

#booking-form1 {
  width: 100%;
  max-width: 500px;
  background: linear-gradient(to bottom, #ffffff, #eef1ff,#7091e6,#3d52a0);
  padding: 20px 30px;
  border: 1px;
  border-radius:10px;
  margin-bottom: 35px;
}
#booking-form1 label{
 font-size: 14px;
 padding-left: 5px;
}

#booking-form1 input[type="text"],
#booking-form1 input[type="number"],
#booking-form1 input[type="tel"],
#booking-form1 input[type="date"],
#booking-form1 select{
  
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 12px;
  width: 100%;
  padding:7px ;
  margin-bottom: 10px;
  margin-top: 8px;
  
}

#btn1 {
  background:linear-gradient(to left, #9799f2,#9799f2, #AAC4FF, #B1B2FF,#D2DAFF);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
  padding: 8px;
  width: 100%;
}

@media (max-width: 480px) {
  #bookingform {
      height: auto; 
      padding: 10px;
  }

  #booking-form1 {
      padding: 12px 15px; 
  }

  h1 {
      font-size: 16px; 
      margin-bottom: 15px;
  }

  #booking-form1 input[type="text"],
  #booking-form1 input[type="number"],
  #booking-form1 input[type="tel"],
  #booking-form1 input[type="date"],
  #booking-form1 select {
      font-size: 8px; 
      padding: 7px; 
  }

  #btn1 {
      font-size: 12px; 
      padding: 6px; 
  }
}