*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100%;
    background-image: url('./Image/Flight-3.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Arial, sans-serif;

}
#login-page{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
    gap: 10px;
    font-size: 2rem;
    color: white;
    position: absolute;
    top: 30%;
    left: 25%;
}
#display{
    font-size: 3rem;
    color:orangered;
}
form{
    
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 8px; 
    position: absolute;
    right: 15%;
    top: 20%;
    height: 350px;
    width: 300px;
}
p{
    color: white;
    font-size: 30px;
    text-shadow: 2px 2px 4px black;
}
label{
    display: flex;
    padding: 5px;
}

input[type="text"],  
input[type="password"] {
    width: 100%;
    padding: 6px;
    margin: 4px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    
}
input[type="submit"] {
    width: 100%;
    padding: 10px;
    background:linear-gradient(to right,#003285,#B1B2FF, #AAC4FF,#B1B2FF);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 15px;
}
input[type="submit"]:hover {
    background: linear-gradient(to right, rgb(211, 176, 110), rgb(212, 127, 42));
}

.signup-link {
    margin-top: 15px;
    font-size: 16px;
  }
  .signup-link a {
    color: white;
    text-decoration: none;
  }
  .signup-link a:hover {
    text-decoration: underline;
  }