*{
margin: 0;
padding: 0;
box-sizing: border-box;

}
body {
    height: 100vh;
    width: 100%;
    background-image: url('./Image/pexels-freestockpro-1004584.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Arial, sans-serif;
}
form{
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 8px; 
    position: absolute;
    left: 60%;
    top: 16%;
    
}
h1 .welcome{
    color: #2A629A;
    
  
}
h1 .on{
  color:#003285;
  
}
label{
    display: flex;
    padding: 5px;
    
}
input[type="text"], 
input[type="number"], 
input[type="password"] {
    width: 100%;
    padding: 6px;
    margin: 4px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    
}
input[type="submit"] {
    width: 100%;
    padding: 10px;
    background:linear-gradient(to right,#003285,#B1B2FF, #AAC4FF,#B1B2FF);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 15px;
}
input[type="submit"]:hover{
    background:linear-gradient(to right,rgb(98, 218, 98),rgb(12, 92, 12));

}





